{% extends "base_generic.html" %}

{% block content %}


<div class="container p-3 bg-light text-center border-bottom "><h2>  Ваши подписки  </h2></div>



{% if follows %}
{% for folls in follows %}
<div class="container bg-light text-center ">
    <div class="row p-0">
    <div class="col p-1"><a href="image/imagess/{{ folls.id }}" style="color: black">{{ folls }} </a></div>
        </div>

    </div><p></p>
{% endfor %}
{% else %}

<div class="container bg-light text-center ">
    <div class="row p-0">
    <div class="col p-1"><p>У вас нет подписок</p></div>
        </div>

    </div><p></p>


{% endif %}


{% endblock %}